@import "bootstrap-sprockets";
@import "bootstrap";
.thumbnail{
	border: 1px solid grey;
	border-radius: 10px;
}
.element{
	border-bottom: 1px solid grey;
padding: 5px;
}
.basket{
	border: 1px solid grey;
	border-radius: 5px;
}